$fontSize:14px !default;

.mui-content {
    .mui-fullscreen {
        .mui-slider {
            .mui-slider-item > a {
                top: 79;
            }
            .mui-slider-item {
                height: 160px;
            }
            & img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
