/*
 * 我的预约
 * 作者: yuankaixin
 * 2016年8月26日
 * */
/* main */


body {
	background-color: #f5f5f5;
}

.my-reservation {
	margin-top: 0px;
}

.mui-segmented-control {
	border: 0;
	border-radius: 0;
}

.mui-segmented-control ul {
	list-style: none;
	width: 100%;
	height: 40px;
	padding: 0;
	margin: 0;
	background-color: #fff;
	border-bottom: 1px solid #d9d9d9;
}

.mui-segmented-control li {
	float: left;
	width: 50%;
}

.tab-fgx {
	background: url(../../img/Interaction/MyAppointment/img_tab-fgx.png) right 50% no-repeat;
	background-size: 1px 20px;
}

.my-reservation .mui-control-item {
	display: table;
	margin: 0 auto;
	font-size: 15px;
	color: #666;
	border-bottom: 2px solid transparent;
}

.my-reservation .mui-control-item.mui-active {
	padding: 0px 10px;
	background-color: #fff;
	color: #3182EB;
	border-bottom: 2px solid #3182eb;
}

.mui-control-content {
	margin-top: 10px;
}


/*ul*/

.mui-table-view {
	padding: 0;
	margin: 0;
	margin-top: 10px;
	list-style: none;
}


/*li*/

.mui-table-view-cell {
	padding: 5px 10px;
}

.mui-table-view-cell:after {
	left: 10px;
}

.mui-table-view-cell p {
	line-height: 22px;
}

.appointment-date {
	font-size: 12px;
	line-height: 22px;
	display:inline-block;
	margin-bottom: 4px;
	color: #999;
}


/*取消预约*/

.cancel-reservation {
	float: right;
	font-size: 14px;
	line-height: 22px;
	margin-top: 3px;
	color: #fa8800;
}

.appointment-matters {
	display: inline-block;
	margin-top: 8px;
	font-size: 15px;
	color: #3182eb;
	margin-left: 5px;
}

.mui-table-view-cell label {
	font-size: 13px;
	line-height: 22px;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #999;
}

.cancel-reservation.current1 {
	color: #ff4040;
}

.cancel-reservation.current2 {
	color: #2f990e;
}

.add-btn {
	position: fixed;
	bottom: 0;
	margin-bottom: 0;
	height: 44px;
	border-radius: 0;
	padding: 0;
	border-color: #3182eb;
	background-color: #3182eb;
	font-size: 18px;
	color: #fff;
}

.mt10 {
	margin-top: 35px;
	margin-bottom: 44px;
}