/**
 * 作者：lb
 * 日期：2016-08-26
 * 中心新闻详情
 */

/* main */

body{
	background-color:#fff;
}
img {
  width: 100%;
  vertical-align: middle;
  margin: 0px auto;
  display: block;
}
.mui-content {
	margin-top: 14px;
	padding: 0px 10px;
}

.details-hd {
	padding-top: 0px;
	height:auto;
	border-bottom: 1px dashed #c2c2c2;
	min-height:65px;
}

.details-hd h1 {
	display: block;
	margin: 0;
	line-height: 16px;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}

.publishing-unit {
	margin-top: 12px;
	height: 12px;
	font-size: 12px;
	color: #adadad;
}

.publishing-unit span {
	line-height: 12px;
}

.unit-name {
	float: left;
}

.publishing-time {
	float: right;
}

.details-bd {
	display: block;
	padding: 14px 0px 16px 0px;
	line-height: 16px;
	font-size: 14px;
	color: #666;
}

.content {
	line-height: 18px;
	font-size: 14px;
	color: #666;
}

.ending {
	margin-top: 18px;
}
