 .mui-content {
 	background-color: #fff;
 	border-top: 1px solid #e2e2e3;
 	border-bottom: 1px solid #e2e2e3;
 }
 .mui-content > div {
	margin-left: 10px;
	padding: 11px 10px 11px 0;
	border-bottom: 1px solid #e2e2e3;
}
 .mui-content > div:last-child {
 	border-bottom: none;
 }
 .report-section {
	display: block;
	margin-left: 75px;
	margin-top: -21px;
 }
 button {
 	display: block;
 	width: 94%;
 	padding: 13px 0;
 	margin: 0 auto;
 }
 .del-btn {
 	margin-top: 45px;
 	margin-bottom: 15px;
 	background-color: #1ebaf3;
 	color: #fff;
 }
 .ignored-btn {
 	background-color: #d1d1d1;
 	color: #fff;
 }
