
/**
 *作者：侯苏川 
 *时间：2016-10-26
 *描述：  原创展示视频播放页面 
 */

body {
	background-color: #ffffff;
}

/*点播样式*/
#player,.player {
	width:100%;
	height:270px;
	background-color: #ffffff;
}

/*遮罩*/

.zhezhao-area {
	position: fixed;
	display: none;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: #000000;
	opacity: .5;
	z-index: 100;
}

/*评论区样式*/
.commentTitle {
	line-height: 44px;
	text-indent: 28px;
	background-color: #f7f6fb;
	font-size: 16px;
	font-weight: 600;
	font-family: "microsoft yahei";
	color: #007aff;
	border-bottom: 1px solid #c8c7cc;
}

.newest-comment {
	text-indent: 15px;
	padding: 15px 0 10px 0;
	font-size: 14px;
	font-family: "microsoft yahei";
	background-color: #ffffff;
}

/*评论列表的css*/

#commentList {
	display: none;
	padding-bottom: 60px;
}

.CommentItem {
	padding: 5px 5px 30px 12px;
}

.headImgBorder {
	text-align: center;
	padding-top: 8px;
	height: 70px;
	float: left;
	width: 30px;
}

.headImgBorder img {
	border-radius: 50%;
}

.commentBorder {
	padding-top: 2px;
	padding-left: 6px;
	float: left;
	width: 85%;
}

.zanBorder {
	position: absolute;
	/*width: 19%;*/
	right: 20px;
	top: 0;
	font-size: 12px;
	vertical-align: middle;
	padding-top: 4px;
	padding-left: 24px;
	background-image: url(../../img/resourceCenter/resource_center_zan.png);
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: 5px 5px;
	color: #cdcdcd;
}

.ZanBorder {
	margin: -3px 10px 0 0;
	padding-top: 4px;
	padding-left: 24px;
	background-image: url(../../img/resourceCenter/resource_center_zan.png);
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: 2px 5px;
	font-size: 12px;
	color: #cdcdcd;
}

.zanBorder-active {
	background-image: url(../../img/menubar/img_praiseactive.png);
}

.zanBorder img {
	margin-top: 2px;
}

.commentDate {
	color: #cdcdcd;
	font-size: 14px;
}

.commentUserName {
	color: #187bc2;
	font-size: 14px;
}

.commentContent {
	color: #000000;
	font-size: 13px;
}

.mui-scroll-comment {
	margin-top: 400px;
	padding-bottom: 55px;
}

/*评论输入框*/
.comment {
	position: fixed;
	width: 100%;
	bottom: 0px;
	padding: 10px 0;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	background-color: #fafafa;
	z-index: 10;
}

input[type=text] {
	padding: 0 15px;
}

/*评论弹出框*/

input[type=text] {
	float: left;
	width: 75%;
	height: 35px;
	margin: 0 0 0 2%;
	padding-left: 5px;
	color: #000;
	font-size: 14px;
}

.send {
	width: 20%;
	height: 35px;
	color: darkgray;
	margin-left: 2%;
	border: 1px solid #e0e0e0;
	background-color: #fff;
}

.mui-pull-top-pocket {
	top: 0px !important;
}

/*举报回复*/
.reviewIcon {
	width: 18px;
	height: 15px;
	margin-right: 5px;
	background: url(../../img/menubar/img-reporticon.png) no-repeat;
	background-size: 100% 100%;
	vertical-align: -2px;
}

.reportIcon {
	width: 18px;
	height: 15px;
	margin-right: 5px;
	background: url(../../img/menubar/img_report.png) no-repeat;
	background-size: 100% 100%;
	vertical-align: -2px;
}

.review div,.report div {
	display: inline-block;
	font-size: 12px;
}

.review {
	margin-left: 15px;
}

.secondLevelCommnet {
	position: absolute;
	right: 18px;
}

.secondLevelCommnet > div {
	float: right;
}

.reviewContent{
	width: 100%;
	position: relative;
	margin-top: 30px;
	right: -20px;
	font-size: 14px;
}

.reviewContent img {
	width: 30px;
	height: 30px;
	margin-right: 8px;
	vertical-align: -8px;
	border-radius: 20px;
}

.reviewEE {
	display: inline-block;
	margin: 0 5px;
	font-size: 12px;
}

.reviewName {
	color: dodgerblue;
}

.reviewDate {
	color: #cdcdcd;
	font-size: 14px;
}

  /*遮罩层DOM*/
  
  .join-circle {
  	display: none;
  	position: fixed;
  	top: 20%;
  	width: 95%;
  	margin-left: 2.5%;
  	border-radius: 5px;
  	background-color: #fafafa;
  	z-index: 1002;
  }
  
  .circle-bar {
  	width: 100%;
  	line-height: 44px;
  	text-align: center;
  	color: #fff;
  	border-top-left-radius: 5px;
  	border-top-right-radius: 5px;
  	background-color: #1ebaf3;
  }
  
  .mui-icon-closeempty {
  	float: right;
  	margin: 6px 4px 0 0;
  	color: #fff;
  	font-size: 30px;
  }
  /*名称及描述*/
  
  .circle-input {
  	margin-top: 10px;
  	padding: 0;
  	padding-left: 20px;
  	padding-right: 20px;
  	padding-top: 20px;
  	/*background-color: #fff;*/
  	border-top: 1px solid #e0e0e0;
  	border-bottom: 1px solid #e0e0e0;
  }
  
  .circle-input textarea {
  	height: 80px;
  }
  
  .cut-line {
  	width: 100%;
  	height: 1px;
  	background-color: #e0e0e0;
  }
  
  .button-area> button {
  	float: left;
  	display: inline-block;
  	width: 45%;
  	margin: 10px 2.5%;
  	padding: 13px 0;
  	border-radius: 5px;
  	color: #fff;
  }
  
  .cancel-btn {
  	background-color: #d1d1d1;
  }
  
  .confirm-btn {
  	background-color: #1ebaf3;
  }
  
  input[type=text] {
  	padding: 0 0 0 5px;
  }
