/*
 * 作者：侯苏川
 * 时间：2016-06-27
 * 描述：积分排行父页面样式设计
 */

/*头部bar样式设计*/
 .mui-bar > a {
 	color: #fff;
 }
 .now-date,.study-star {
 	display: inline-block;
 	font-size: 14px;
 	line-height: 44px;
 }
 .study-star {
 	float: right;
 }

 .ranking-name {
 	padding: 14px 0;
 	background-color: #f7f6fb;
 	border-bottom: 1px solid #e0e0e0;
 }
 .ranking-name > span:first-child {
 	display: inline-block;
 	width: 40%;
 	margin-left: 16%;
 }
 .ranking-name > span:last-child {
 	float: right;
 	display: inline-block;
 	width: 30%;
 }