/*
  * 作者：ykx 
  * 时间：2016年9月12日
  * 描述：排队详情
 */

body,
html,
.mui-content {
	background: #f5f5f5;
}


/*标题*/

.head {
	padding: 11px 15px;
	background: #fff;
	border-bottom: 1px solid #d9d9d9;
}

.tit {
	display: inline-block;
	font-size: 16px;
	padding-left: 5px;
	color: #3383eb;
	margin: 0;
}

.head-icon {
	display: inline-block;
	float: left;
	width: 6px;
	height: 20px;
	border-radius: 5px;
	background: #3383eb;
}

.span-tit {
	font-size: 14px;
	margin: 10px 15px 5px 15px;
}

.foo {
	position: fixed;
	bottom: 5px;
	height: 35px;
	width: 100%;
	border-top: 1px solid #d5d5d5;
	background: #fff;
}

.add-btn {
	height: 30px;
	font-size: 15px;
	line-height: 30px;
	margin: 5px;
	width: 50%;
	border-color: #0b98f2;
	background-color: #0b98f2;
	border-radius: 20px;
	padding: 0;
	margin-left: 25%;
	color: #fff;
	z-index: 999;
}


/*搜索*/

.search {
	margin-top: 0px;
	height: 50px;
	padding: 8px 10px 0px 10px;
	background-color: #fff;
	border-bottom: 1px solid #d9d9d9;
	border-top: 1px solid #d9d9d9;
}

.search .mui-search {
	float: left;
	width: 83%;
	height: 34px;
	background-color: #f5f5f5;
}

.search .mui-search.mui-active:before {
	top: 24px;
	left: 8px;
}

.search .mui-input-clear {
	height: 34px;
	line-height: 34px;
	margin-bottom: 0;
}

.mui-search .mui-placeholder {
	font-size: 14px;
	color: #999;
}

.mui-search .mui-placeholder {
	left: 8px;
	text-align: left;
}

.search .mui-btn {
	float: left;
	padding: 0;
	width: 15%;
	margin-left: 6px;
	height: 34px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	border: 1px solid #3182eb;
	background-color: #3182eb;
}

.mui-search input[type=search] {
	background: #FFFFFF;
	text-align: left;
	padding-left: 10px;
}


/*列表*/

.content-line {
	background: #FFFFFF;
	padding: 5% 0 0 5%;
	margin: 0;
	width: 100%;
	margin-bottom: 35px;
}

.content-line li {
	background: #FFFFFF;
	display: inline-block;
	width: 45%;
	float: left;
	margin-right: 5%;
	margin-bottom: 5%;
	padding: 5px 6px;
	background: #f3f8ff;
}

.tit-blue {
	color: #3182eb;
	font-size: 14px;
}

.tit-black {
	text-align: center;
	font-size: 16px;
	color: #000000;
}

.state {
	color: #888a8c;
		font-size: 14px;
		float: left;
}
.status_view{
	overflow: hidden;
}
.line-red{
	
	font-size: 14px;
	color: #db1d1d;
}
.realstatus{
	width: 50%;
	float: left;
}
