/*
 * 提交成功
 * author: wangkai
 * */

/* main */

body{
	background-color:#fff;
}

.success-tips {
	margin-top: 44px;
	padding-top: 67px;
}

.consulting-icon {
	display: block;
	width: 92.5px;
	height: 92.5px;
	margin: 0 auto;
}

.success-info {
	margin-top: 19px;
	margin-bottom: 19px;
	line-height: 18px;
	font-size: 15px;
	color: #1f9a0b;
	text-align: center;
}

.receipt {
	margin: 0px 10px 32px 10px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	background-color: #fafafa;
	font-size: 15px;
	color: #999;
}

.receipt span {
	color: #3182eb;	
}


.surebtn {
	margin: 0 auto;
	width: 144px;
	height: 29px;
	line-height: 29px;
	border-radius: 0;
	padding: 0;
	border-color: #3182eb;
	background-color: #3182eb;
	font-size: 15px;
	color: #fff;
	border-radius: 30px;
}
