/**
 * 作者：孙尊路
 * 时间：2016-05-16
 * 描述：新闻公告android   pad css
 */

html,
body {
	width: 100%;
	height: 100%;
}

.mui-content {
	height: 100%;
}


/*【1.中间】列表包裹样式*/

.listwrapper {
	width: 30%;
	left: 14%;
}


/*【2.左边】导航样式*/

.szpark_newstitle_left {
	width: 14%;
	height: 100%;
	float: left;
	background: #09335a;
}

.szpark_newstitle_left_view {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.szpark_newstitle_left_cell {
	width: 100%;
	height: 67px;
	line-height: 67px;
	color: #bbc0c9;
	text-align: center;
	border-bottom: 1px solid #051f3d;
}


/*导航栏激活状态   active*/

.szpark_active {
	background: #187bc2;
	color: #ffffff;
}


/*列表页样式*/

.mui-table-view-cell {
	height: auto;
	overflow: hidden;
	padding: 10px;
}

.mui-table-view-cell img {
	float: left;
	width: 105px;
	height: 73px;
}

.notice-txt {
	width: 59%;
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}

.notice-txt span:first-child {
	width: 100%;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	word-break: break-all;
	font-size: 14px;
}

.notice-txt span:nth-child(2) {
	margin-top: 5px;
	width: 100%;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	word-break: break-all;
	font-size: 12px;
	color: #adadad;
}


/**
 * 无图片列表
 */

.notice-txt2 {
	width: 100%;
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}

.notice-txt2 span:first-child {
	width: 100%;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	word-break: break-all;
	font-size: 14px;
}

.notice-txt2 span:nth-child(2) {
	margin-top: 5px;
	width: 100%;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	word-break: break-all;
	font-size: 12px;
	color: #adadad;
}


/*【3.右边】详情部分*/

.szpark_newstitle_right {
	width: 56%;
	height: 100%;
	float: right;
	background: #ffffff;
	border-left: 1px solid #adadad;
}

.mui-control-content {
	height: 100%;
	display: block !important;
}


/*显示详情内容模板*/

.my-content {
	background-color: white;
	height: auto  !important;
}

.detailscroll-wrapper {
	height: 100%;
	overflow: hidden;
}


/*列表详情标题*/

.title {
	margin: 17px 15px 10px 15px;
	font-size: 18px;
	text-align: center;
	word-break: break-word;
}


/*列表详情*/

.time {
	color: #adadad;
	font-size: 10px;
	margin-left: 15px;
	margin-right: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
}

#txt {
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 14px;
}


/*给富文本中图片img设置样式*/

img {
	max-width: 100%;
}


/**
 * 附件部分
 */

.attaches {
	margin: 10px;
	/*color: #187BC2;*/
}

.attaches ul li {
	margin-top: 10px;
	font-size: 14px;
}

#pullrefresh {
	margin-top: 44px;
}