/**
 * 作者：戴科
 * 日期：2016-04-05
 * 简介：老年教育首页页面css
 */
body{
	background: #f7f6fb;
}
/*滚动包裹层距离顶部高度*/
.mui-scroll-wrapper{
	margin-top: 45px;
}
.suzhou_oldeducation_nav_title{
	width:100%;
	height: 40px;
	font-size: 14px;
	color: #333333;
	line-height: 40px;
	padding-left: 10px;
	border-bottom: 1px solid #e0e0e0;
}
.suzhou_oldeducation_nav{
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
}
.suzhou_oldeducation_view{
	width: 100%;
	background: #ffffff;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
/*便民查询栏目*/
.suzhou_oldeducation_view a{
	color: #000000;
}
.suzhou_oldeducation_view li{
	width: 33%;
	height: 60px;
	margin: 0 ;
	text-align: center;
	font-size: 12px;
	float: left;
}
.suzhou_oldeducation_view_title{
	width: 100%;
	background: #ffffff;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.suzhou_oldeducation_view_title li{
	width: 20%;
	height: 90px;
	margin: 0 ;
	text-align: center;
	font-size: 12px;
	float: left;
}
/*学校简介栏目---点击效果*/
/*便民查询栏目---点击效果*/
.suzhou_oldeducation_view li:active,
.suzhou_oldeducation_view_title li:active{
	background-color: #EAEAEA;
}
.suzhou_oldeducation_bianji1{
	display: block;
	width: 40px;
	height: 40px;
	margin: 10px auto;
	background: url(../../img/homepage/img_bianji1.jpg) no-repeat;
	background-size: 40px 40px;
}
.suzhou_oldeducation_bianji2{
	display: block;
	width: 40px;
	height: 40px;
	margin: 10px auto;
	background: url(../../img/homepage/img_bianji2.jpg) no-repeat;
	background-size: 40px 40px;
}
.suzhou_oldeducation_bianji3{
	display: block;
	width: 40px;
	height: 40px;
	margin: 10px auto;
	background: url(../../img/homepage/img_bianji3.jpg) no-repeat;
	background-size: 40px 40px;
}
.suzhou_oldeducation_bianji4{
	display: block;
	width: 40px;
	height: 40px;
	margin: 10px auto;
	background: url(../../img/homepage/img_bianji4.jpg) no-repeat;
	background-size: 40px 40px;
}
.suzhou_oldeducation_bianji5{
	display: block;
	width: 40px;
	height: 40px;
	margin: 10px auto;
	background: url(../../img/homepage/img_oldeducation_nav1.png) no-repeat;
	background-size: 40px 40px;
}
.suzhou_oldeducation_nav1{
	display: block;
	width: 21px;
	height: 21px;
	margin: 5px auto;
	background: url(../../img/homepage/img_oldeducation_nav1.png) no-repeat;
	background-size: 21px 21px;
}
.suzhou_oldeducation_nav2{
	display: block;
	width: 21px;
	height: 21px;
	margin: 5px auto;
	background: url(../../img/homepage/img_oldeducation_nav2.png) no-repeat;
	background-size: 21px 21px;
}
.suzhou_oldeducation_nav3{
	display: block;
	width: 21px;
	height: 21px;
	margin: 5px auto;
	background: url(../../img/homepage/img_oldeducation_nav3.png) no-repeat;
	background-size: 21px 21px;
}
.suzhou_oldeducation_nav4{
	display: block;
	width: 21px;
	height: 21px;
	margin: 5px auto;
	background: url(../../img/homepage/img_oldeducation_nav4.png) no-repeat;
	background-size: 21px 21px;
}
.suzhou_oldeducation_nav5{
	display: block;
	width: 21px;
	height: 21px;
	margin: 5px auto;
	background: url(../../img/homepage/img_oldeducation_nav5.png) no-repeat;
	background-size: 21px 21px;
}
.suzhou_oldeducation_nav6{
	display: block;
	width: 21px;
	height: 21px;
	margin: 5px auto;
	background: url(../../img/homepage/img_oldeducation_nav6.png) no-repeat;
	background-size: 21px 21px;
}
.suzhou_oldeducation_nav7{
	display: block;
	width: 21px;
	height: 21px;
	margin: 5px auto;
	background: url(../../img/homepage/img_oldeducation_nav7.png) no-repeat;
	background-size: 21px 21px;
}
.suzhou_oldeducation_nav8{
	display: block;
	width: 21px;
	height: 21px;
	margin: 5px auto;
	background: url(../../img/homepage/img_oldeducation_nav8.png) no-repeat;
	background-size: 21px 21px;
}
.suzhou_oldeducation_nav9{
	display: block;
	width: 21px;
	height: 21px;
	margin: 5px auto;
	background: url(../../img/homepage/img_oldeducation_nav9.png) no-repeat;
	background-size: 21px 21px;
}
.suzhou_oldeducation_nav10{
	display: block;
	width: 21px;
	height: 21px;
	margin: 5px auto;
	background: url(../../img/homepage/img_oldeducation_nav10.png) no-repeat;
	background-size: 21px 21px;
}
.suzhou_oldeducation_nav11{
	display: block;
	width: 21px;
	height: 21px;
	margin: 5px auto;
	background: url(../../img/homepage/img_oldeducation_nav10.png) no-repeat;
	background-size: 21px 21px;
}
.suzhou_oldeducation_nav12{
	display: block;
	width: 21px;
	height: 21px;
	margin: 5px auto;
	background: url(../../img/homepage/img_oldeducation_nav10.png) no-repeat;
	background-size: 21px 21px;
}
.suzhou_oldeducation_nav13{
	display: block;
	width: 21px;
	height: 21px;
	margin: 5px auto;
	background: url(../../img/homepage/img_oldeducation_nav10.png) no-repeat;
	background-size: 21px 21px;
}
/**
 * 课程列表
 */
.suzhou_oldeducation_course_view{
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
	overflow: hidden;
}
.suzhou_oldeducation_course_view_cell{
	width: 23%;
	margin-right: 4%;
	height: 40px;
	line-height: 40px;
	float: left;
	text-align: center;
}
.suzhou_oldeducation_course_more{
	color: #b7b7b7;
	height: 40px;
	line-height: 40px;
	font-size: 10px;
	float: right;
	margin-right: 10px;
}
.suzhou_more{
	display: block;
	width: 10px;
	height: 6px;
	float: right;
	margin-top: 17px;
	background: url(../../img/educate/img_more.png) no-repeat;
	background-size: 10px 6px;
}
.suzhou_active{
	color: #187bc2;
	border-bottom: 3px solid #187bc2;
}
.suzhou_oldeducation_course{
	width: 100%;
	background: #ffffff;
	overflow: hidden;
	border-bottom: 1px solid #e0e0e0;
}
.suzhou_oldeducation_course_show{
	width: 45%;
	height: 140px;
	float: left;
	text-align: left;
	margin: 10px 0 0 10px;
	font-size: 12px;
}
.title2{
	/*margin-left: 20px;*/
}
.suzhou_oldeducation_course_pic{
	width: 100%;
	height: 83px;
}
.suzhou_stars{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.suzhou_stars_list{
	width: 10px;
	height: 10px;
	margin-top: 5px;
	margin-right: 2px;
	float: left;
}

/**
 * 星级
 */
.suzhou_stars_sellected{
	background: url(../../img/educate/img_level_selected.png) no-repeat;
	background-size: 10px 10px;
}
.suzhou_stars_unsellect{
	background: url(../../img/educate/img_level.png) no-repeat;
	background-size: 10px 10px;
}


/*视屏预览以及播放弹出框*/
#zhezhao-area {
	display: none;
	position: fixed;
	top: 0px;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.7;
	opacity: .70;
	filter: alpha(opacity=70);
}

#alertWin {
	display: none;
	background-color: #EEEEEE;
	font-size: 14px;
	padding: 15px;
	color: #000000;
	position: fixed;
	top: 150px;
	width: 80%;
	left: 10%;
	z-index: 1002;
	border-radius: 6px;
}

#btnGroup {
	margin-top: 20px;
	text-align: center;
}

#btnGroup button {
	margin-left: 3px;
	margin-right: 3px;
}